.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.border_color{
  color: black;
}
.font-small{
font-size: 14px;
}
span{
  cursor: pointer;
}

.disabled {
  opacity: 0.5; /* Example: reduce opacity when disabled */
  cursor: not-allowed; /* Example: change cursor style to indicate disabled state */
  /* Add other styles as needed to visually indicate disabled state */
}
